<!DOCTYPE html>
<html ng-app>
<head>
	<title>Using ng-repeat Directive</title>
</head>
<body data-ng-init="names=['Dave','Napur','Heedy','Shriva']">
	
	Name: <br />
	<input type="text" data-ng-model="name" /> {{name}}

	<div class="container">
		<h3>Looping with the ng-repeat Directive</h3>
		<ul>
			<li data-ng-repeat="personName in names" data-ng-class="{last:$last, first:$first, middle:$middle}">{{$index}}-{{personName}}</li>
		</ul>
	</div>

<script src="angular.min.js"></script>	
</body>
</html>