<!DOCTYPE html>
<html ng-app>
<head>
	<title>Using filters</title>
</head>
<body data-ng-init="customers=[{name: 'John Smith',city: 'Phoenix'},
{name:'John Adams', city:'New York'},{name:'Jane Doe',city: 'San Francisco'}]">
	Name: <br />
	<input type="text" data-ng-model="name" /> {{name}}
	<br />
	<ul>
		<li data-ng-repeat="cust in customers | filter:name | orderBy:'city'">
			{{cust.name | uppercase}} - {{cust.city | lowercase}}
		</li>
	</ul>

<script src="angular.min.js"></script>	
</body>
</html>